@import '../../styles/colors';

button {
  cursor: pointer;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 20px 42px;
  background: none;
  font-family: inherit;
  color: $white;
  border: 1px solid $white;
  border-radius: 5px;

  &.primary {
    color: $primaryColor;
    border-color: $primaryColor;
  }
}