@import 'colors';

body {
  margin: 0;

  #root {
    width: 100%;
    padding: 0;
    font-family: 'Lato';

    h1 {
      color: $primaryColor;
    }

    .content {
      max-width: 1036px;
      margin: 0 auto;
    }

    .productsContainer {
      display: flex;
      flex-flow: wrap;
      width: 100%;
    }
  }
}