@import 'colors';

body {
  margin: 0;
  color: $primaryColor;

  #root {
    width: 100%;
    padding: 0;
    font-family: 'Lato';
  }
}

button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#slider {
  min-height: 504px;
  margin-top: 24px;

  button {
    border: none;
    border-bottom: 1px solid $white;
    border-radius: 0;
    padding: 0;
    padding: 12px;

    &:hover {
      color: $white;
      background: none;
    }
  }
}

#news, #slider {
  display: flex;
  flex-direction: row;

  > div {
    display: flex;
    flex-direction: column;
    width: 100%; 
    min-height: 386px;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    color: $white;

    > span { 
      font-size: 13px;
      font-weight: 300;
      line-height: 100%;
      letter-spacing: 0.4em;
    }

    hr {
      width: 18px;
      margin: 10px 0 0;
    }

    h2 {
      font-weight: 300;
      font-size: 40px;
      margin: 18px 0 28px;

      span:first-child {
        letter-spacing: 0.09em;
      }

      span:last-child {
        letter-spacing: 0.12em;
      }
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

#about-us {
  padding-bottom: 100px;

  header {
    margin-bottom: 32px;
  }

  p {
    color: $dark;
    font-family: 'Poppins';
    font-size: 12px;
    text-align: center;
    line-height: 19.2px;
    margin-top: 0;
    padding: 0 64px;
  }
}

