@import '../../styles/colors';

header.main-header {
  text-transform: uppercase;

  > div:first-child {
    color: $white;
    background-color: $primaryColor;

    section {
      flex-direction: row;
      justify-content: space-between;
      font-size: 10px;
      font-weight: 700;
      text-transform: uppercase;

      p {
        display: flex;
        align-items: center;
        letter-spacing: 0.05em;

        svg + span { 
          margin-left: 10px;
        }
      }

      hr {
        width: 1px;
        height: 15px;
        background-color: $white;
        border: none;
      }
    }
  }

  nav {
    section {
      flex-direction: row;
      justify-content: space-between;

      h1, > div {
        width: 100%;
        display: flex;
      }

      h1 img {
        max-width: 180px;
      }

      .search {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #707070;
        box-sizing: border-box;
        border-radius: 4px;

        input {
          width: 100%;
          padding: 14px 26px;
          border: none;
          font-family: inherit;
          font-weight: 400;
          font-size: 9px;
          color: inherit;
          text-transform: uppercase;
        }

        svg {
          padding-right: 8px;
        }
      }

      > div > div {
        display: flex;
        align-items: center;
        padding-left: 36px;
        font-weight: 700;

        svg {
          margin-right: 10px;
        }

        span {
          font-size: 10px;
        }

        p {
          font-size: 7px;
          margin-top: 3px;
        }
      }

      ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        list-style: none;
        font-size: 10px;
        letter-spacing: 0.09em;
        font-weight: 700;
        padding-left: 0;
      }
    }

    hr {
      margin: 0;
      border: 1px solid rgba(120, 117, 117, 0.22);
    }
  }
}