@import '../../styles/colors';

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 980px;
  padding: 0 10px;
  margin: 0 auto;

    header {
    text-align: center;
    letter-spacing: 0.1em;
    margin: 90px 0;

    h3 {
      color: $primaryColor;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 21px;  
    }

    p {
      color: $dark;
    }
  }
}